// Contact form component styles
.align-center {
  text-align: center;
}

.subtitle {
  padding: 1.5rem 0 2.5rem;
}

input:focus label {
  color: transparent;
}

.notification {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;

  p {
    line-height: 1.5;
    margin-bottom: 0;
  }
}

// Grid
.contact-row {
  margin: -20px 0;

  .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box;

    &.x-50 {
      width: 50%;
    }

    &.x-100 {
      width: 100%;
    }
  }

  @media only screen and (max-width: 576px) {
    .col.x-50 {
      width: 100%;
    }
  }

  @media only screen and (max-width: 398px) {
    padding: 0 5vw;
    display: block;
  }
}

.get-in-touch {
  max-width: 650px;
  margin: 5rem auto;
  position: relative;
  display: block;
  font-family: var(--ff-primary), sans-serif;
}

.title {
  text-align: center;
  font-family: var(--ff-primary), sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
}

.contact-form-styles {
  .form-field {
    position: relative;
    margin: 32px 0;
  }

  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-radius: 0px;
    border-color: var(--primary-6);
    font-family: var(--ff-primary), sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  textarea.input-text {
    height: auto;
    min-height: 120px;
    resize: vertical;
  }

  .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #7e7e7e;
    cursor: text;
    transition: transform 0.2s ease-in-out;
  }
}

.note {
  width: 100%;
  text-align: center;
  line-height: 21px;
  font-size: 1.125em;

  @media only screen and (max-width: 690px) {
    padding: 0 5vw;
  }
}

@media only screen and (max-width: 690px) {
  .subtitle {
    margin: 1rem auto 1.3rem;
  }
}

.contact-btn {
  padding: 1rem 2rem;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 767px) {
  .submit {
    margin-bottom: 3rem !important;
  }
}

.is-danger {
  background-color: #f14668;
  border-color: transparent;

  p {
    color: #fff !important;
  }
}

.is-primary {
  background-color: #48c78e;
  border-color: transparent;

  p {
    color: #fff !important;
  }
}
