// Sidebar partners component
.partners-wrapper {
  text-align: center;
}

.partner {
  display: flex;
  align-items: center;
  margin: 1rem 0 1.2rem -1rem;
  justify-content: center;

  @media screen and (max-width: 991px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1.2rem auto;
  }
}

.partner-img {
  overflow: visible;
  width: 35px;
  height: auto;
}

.partner-name {
  margin-left: 1rem;
  color: var(--grey-7);
  font-weight: 500;

  @media screen and (max-width: 1085px) {
    font-size: 14px;
  }
}
