// Sidebar title component
.sidebar-title-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;

  h4 {
    color: var(--grey-7);
    text-transform: uppercase;
    font-weight: 700;
    background: none;
    display: inline-block;
    margin-bottom: 0;
    padding: 0 0.6rem;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1.5px;
    transform: translateY(-50%);
    background: var(--primary-5);
    z-index: -1;
  }
}
