// Notification banner component
.notification-wrapper {
  border-bottom: 1px solid var(--primary-1);
  padding: 5rem 0;
  margin-bottom: 5rem;
}

.notification-top-bar {
  box-shadow: 0 0 34px var(--primary-6);
  height: 50px;
  line-height: 50px;
  width: 100%;
  background: linear-gradient(90deg, var(--primary-5) 0%, var(--primary-6) 100%);
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;

  p {
    padding: 0;
    margin: 0;
    color: #ffffff;
    display: inline;
    font-size: 130%;

    @media screen and (max-width: 351px) {
      font-size: 120%;
    }

    @media screen and (max-width: 815px) {
      display: block;
    }
  }

  a {
    padding: 5px 12px;
    border-radius: 3px;
    background: #fff;
    color: var(--primary-7);
    font-weight: 500;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 130%;
    transition: all 0.2s linear;

    &:hover {
      background-color: #f4f4f4;
      color: var(--primary-8);
    }

    @media screen and (max-width: 815px) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 815px) {
    height: 100%;
    line-height: 40px;
    padding: 1rem;
  }

  @media screen and (max-width: 979px) {
    width: 90vw;
  }

  @media screen and (max-width: 335px) {
    padding: 1rem 0;
  }
}
