// About Us component styles
.about-us-wrapper {
  margin: 5rem 0;

  .about-us-title {
    margin-bottom: 4rem;
    font-size: 180%;
  }

  .about-card {
    background-color: #fafafa;
    padding: 40px;
    border-radius: 5px;
    min-height: 464px;

    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }

  .icon {
    background-color: var(--card-icon-bg);
    padding: 1rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    box-shadow: 0 7px 25px #b6eaffb4;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1em;
      height: 1em;
    }
  }
}
