// Hero component styles
.hero-wrapper {
  border-bottom: 1px solid var(--primary-1);
}

.hero {
  display: flex;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  max-width: 83vw;
  margin: 0 auto;

  @media only screen and (min-width: 1600px) {
    max-width: 75vw;
  }

  .row {
    align-items: center;
  }

  .hero-text {
    padding-right: 3rem;

    @media only screen and (max-width: 502px) {
      padding: 0;
    }
  }

  h1 {
    line-height: 5rem;

    @media only screen and (max-width: 358px) {
      font-size: 2.6rem;
    }

    span {
      display: inline-block;
      position: relative;
      font-size: 110%;

      &::after {
        position: absolute;
        content: '';
        background-color: #ace7ff;
        width: 100%;
        height: 15px;
        left: 0;
        bottom: 11px;
        z-index: -1;
      }
    }
  }

  h4 {
    color: var(--grey-8);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 17px;

    @media only screen and (max-width: 502px) {
      text-align: center;
    }
  }

  p {
    font-size: 20px;

    @media only screen and (max-width: 502px) {
      text-align: center;
    }
  }
}

.hero-categories {
  @media only screen and (max-width: 460px) {
    text-align: center;
  }

  @media only screen and (max-width: 991px) {
    text-align: center;
  }
}

.category-text-color {
  color: var(--grey-6);
}

.hero-category {
  padding: 0rem 2rem;
  line-height: 60px;
  margin: 25px 25px 0 0;
  border-radius: 10px;
  color: #3a3838;
  min-width: 80px;
  display: inline-block;
  transition: all 0.1s linear;

  @media only screen and (max-width: 1147px) {
    font-size: 90%;
  }

  @media only screen and (max-width: 1092px) {
    padding: 0 1.2rem;
  }

  @media only screen and (max-width: 502px) {
    text-align: center;
  }

  &:hover {
    filter: brightness(103%);
    transition: all 0.1s linear;

    > .overlay {
      width: 100%;
      height: 100%;
      opacity: 0.95;
      transition-duration: 0.2s;
    }
  }
}
