// Footer component styles
.footer-wrapper .footer {
  text-align: center;
  background: var(--black);
  display: block;
  padding: 1rem 0;

  @media screen and (max-width: 767px) {
    padding: 1rem;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  line-height: 1;
  margin-bottom: 1.5rem;

  a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: var(--transition);
  }

  li {
    transition: var(--transition);

    &:hover {
      transform: translateY(-10%);
    }
  }
}

.footer p {
  margin-bottom: 0;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.footer-logo {
  margin: 1rem 0 1.5rem 0;
  width: 3rem;
  height: 3rem;
}

.footer-copyright {
  margin: 0.8rem 0 1.2rem 0;
}

.footer-links {
  margin: 1rem 0 0.7rem 0;
  line-height: 1.5rem;

  @media screen and (max-width: 767px) {
    line-height: 2rem;
  }
}

.footer-link {
  color: var(--white);
  margin-bottom: 0.5rem;
}
