// All Categories page styles
.all-categories-wrapper {
  .categories-page {
    margin-top: 5rem;
    margin-bottom: 5rem;

    h1 {
      margin-bottom: 4rem;
      font-size: 180%;
    }
  }

  .item {
    display: flex;
    align-items: center;
    font-size: 120%;
    text-decoration: none;

    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;
      width: 50%;
      display: inline-flex;
    }
  }

  .category {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
  }

  .category-color {
    width: 30px;
    height: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
  }

  .all-categories-img {
    align-self: center;
    padding: 5rem;
  }
}
