// Success page styles
.success-wrapper.success-page {
  background: white;
}

.success-wrapper .page-center {
  margin: 30vh auto;
  text-align: center;

  @media screen and (max-width: 980px) {
    margin: 10vh auto;
    text-align: center;
  }
}

.success-wrapper .received {
  margin-bottom: 3.5rem !important;

  @media screen and (max-width: 590px) {
    font-size: 1.5rem;
  }
}
