// Support us page styles
.support-wrapper {
  .section-title {
    font-size: 180%;
  }

  .support-container {
    margin: 5rem auto;
  }

  .support-title {
    font-size: 18px;
  }

  .support-item {
    margin: 3rem auto;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0.5rem;
    }

    @media all and (max-width: 600px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .support-link {
    color: var(--primary-7);
    font-size: 110%;
    font-weight: 500;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: var(--primary-8);
    }

    @media screen and (max-width: 800px) {
      font-size: 140%;
    }
  }

  .support-img {
    width: 3rem;
    height: auto;
    margin-right: 3rem;
    display: block;

    @media all and (max-width: 600px) {
      margin: 0 0 0.8rem 0;
    }
  }

  @media all and (max-width: 600px) {
    .blockquote-wrapper,
    .section-title {
      text-align: left;
    }
  }

  .blockquote-wrapper {
    display: flex;
    padding: 0 20px;
    background-color: #292a2b;
  }

  .blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin: 80px auto;
    align-self: center;

    h3, h4 {
      text-transform: none !important;
    }

    h3 {
      font-family: 'Montserrat', sans-serif;
      position: relative;
      color: var(--primary-6);
      font-size: 1rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid #fff;
      border: solid 2px;
      border-radius: 20px;
      padding: 25px;

      @media all and (min-width: 600px) {
        font-size: 1.4rem;
        line-height: 1.2;
      }

      &:after {
        content: '';
        position: absolute;
        border: 2px solid var(--primary-6);
        border-radius: 0 50px 0 0;
        width: 60px;
        height: 60px;
        bottom: -60px;
        left: 50px;
        border-bottom: none;
        border-left: none;
        z-index: 3;
      }

      &:before {
        content: '';
        position: absolute;
        width: 80px;
        border: 6px solid #292a2b;
        bottom: -3px;
        left: 50px;
        z-index: 2;
      }
    }

    h4 {
      position: relative;
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left: 150px;
      padding-left: 12px;

      &:first-letter {
        margin-left: -12px;
      }
    }
  }
}
